CI_ENVIRONMENT = development

app.baseURL = 'http://localhost:8080/'

app.timezone = 'Asia/Jakarta'

# Database
database.default.hostname = localhost
database.default.database = bmn_app
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port     = 3306
